<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TWT.Homework.VoteSimulator.dao.UserSchemaMapper">

    <select id="getAllUser" resultType="UserSchema"> SELECT * FROM user; </select>
    <select id="getAllUserName" resultType="String"> SELECT user.NAME FROM user; </select>
    <select id="getUserId" resultType="int"> SELECT user.user_id FROM user WHERE NAME=#{name}; </select>
    <select id="getUserCode" resultType="String"> SELECT user.CODE FROM user WHERE NAME=#{name}; </select>

    <insert id="addUser"> INSERT INTO user (NAME, CODE) VALUES (#{name}, #{code}); </insert>

    <update id="updateUserCode"> UPDATE user SET CODE = #{newCode} WHERE NAME = #{name} AND CODE = #{code}; </update>

    <delete id="deleteUser"> DELETE FROM user WHERE NAME=#{name} AND CODE=#{code}; </delete>
</mapper>



